# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/
env/
.env

# Local database caches & cache directories
market_cache.db-wal
market_cache.db-shm
data_cache/


# Temporary and office files
~$*
*.tmp
.idea/
.vscode/

# Large CSV database dumps
*.csv
export_to_csv.py

